<?xml version="1.0"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Parameters>
    <Parameter Name="ChefWebUserCreate" />
    <Parameter Name="ChefWebUserUsername">
      <Value>DOMAIN\nyx</Value>
    </Parameter>
    <Parameter Name="ChefWebUserPassword">
      <Value>Vagrant123</Value>
    </Parameter>
    <Parameter Name="ChefSqlProductKey" />
    <Parameter Name="ChefReportProductKey" />
    <Parameter Name="AppServerName">
      <Value>192.168.50.3</Value>
    </Parameter>
    <Parameter Name="SqlServerName">
      <Value>192.168.50.4</Value>
    </Parameter>
    <Parameter Name="ReportServerName">
      <Value>192.168.50.4</Value>
    </Parameter>
    <Parameter Name="ClientComputersName">
      <Value>192.168.50.5</Value>
    </Parameter>
    <Parameter Name="AppServerUsername">
      <Value>DOMAIN\Administrator</Value>
    </Parameter>
    <Parameter Name="AppServerPassword">
      <Value>Vagrant123</Value>
    </Parameter>
    <Parameter Name="SqlServerUsername">
      <Value>DOMAIN\Administrator</Value>
    </Parameter>
    <Parameter Name="SqlServerPassword">
      <Value>Vagrant123</Value>
    </Parameter>
    <Parameter Name="ReportServerUsername">
      <Value>DOMAIN\Administrator</Value>
    </Parameter>
    <Parameter Name="ReportServerPassword">
      <Value>Vagrant123</Value>
    </Parameter>
    <Parameter Name="ClientComputersUsername">
      <Value>DOMAIN\Administrator</Value>
    </Parameter>
    <Parameter Name="ClientComputersPassword">
      <Value>Vagrant123</Value>
    </Parameter>
    <Parameter Name="SiteName">
      <Value>Nyx</Value>
    </Parameter>
    <Parameter Name="SitePort">
      <Value>80</Value>
    </Parameter>
    <Parameter Name="SitePhysicalPath">
      <Value>C:\inetpub\wwwroot\Nyx</Value>
    </Parameter>
    <Parameter Name="SiteRemoveDefault">
      <Value>True</Value>
    </Parameter>
    <Parameter Name="SiteAppPoolDeploy">
      <Value>True</Value>
    </Parameter>
    <Parameter Name="SiteAppPoolName">
      <Value>NyxPool</Value>
    </Parameter>
    <Parameter Name="SiteAppPoolIdentity">
      <Value>3</Value>
    </Parameter>
    <Parameter Name="SiteAppPoolUsername">
      <Value>DOMAIN\Nyx</Value>
    </Parameter>
    <Parameter Name="SiteAppPoolPassword">
      <Value>Vagrant123</Value>
    </Parameter>
    <Parameter Name="WebSiteName">
      <Value>Nyx</Value>
    </Parameter>
    <Parameter Name="WebAppPoolName">
      <Value>NyxPool</Value>
    </Parameter>
    <Parameter Name="DbWebUsername">
      <Value>DOMAIN\nyx</Value>
    </Parameter>
    <Parameter Name="DbAccount">
      <Value>True</Value>
    </Parameter>
    <Parameter Name="ReportServerUrl">
      <Value>http://iris/ReportServer</Value>
    </Parameter>
    <Parameter Name="SchedulerUsername">
      <Value>DOMAIN\Administrator</Value>
    </Parameter>
    <Parameter Name="SchedulerPassword">
      <Value>Vagrant123</Value>
    </Parameter>
    <Parameter Name="ChefConfigAppServer" />
    <Parameter Name="ChefDeploy" />
    <Parameter Name="ChefConfigClientComputers" />
    <Parameter Name="ChefConfigReportServer" />
    <Parameter Name="ChefConfigSqlServer">
      <Value>True</Value>
    </Parameter>
    <Parameter Name="SiteDeploy">
      <Value>True</Value>
    </Parameter>
    <Parameter Name="WebDeploy">
      <Value>True</Value>
    </Parameter>
    <Parameter Name="DbDeploy">
      <Value>True</Value>
    </Parameter>
    <Parameter Name="ReportDeploy">
      <Value>True</Value>
    </Parameter>
    <Parameter Name="SchedulerDeploy">
      <Value>True</Value>
    </Parameter>
    <Parameter Name="ClientToolsDeploy">
      <Value>True</Value>
    </Parameter>
    <Parameter Name="WebAppName">
      <Value>Transactions</Value>
    </Parameter>
    <Parameter Name="WebAppPhysicalPath">
      <Value>C:\inetpub\wwwroot\Nyx\Transactions</Value>
    </Parameter>
    <Parameter Name="WebConnectionString">
      <Value>Data Source=iris;Initial Catalog=Nyx;Integrated Security=True</Value>
    </Parameter>
    <Parameter Name="WebMachineDecryptionKey">
      <Value>F95935EC11CFDB5624811B6046F5AB28485DCC23C13B130C9FAB0E0DACE0CD9C</Value>
    </Parameter>
    <Parameter Name="WebMachineValidationKey">
      <Value>6CB3CA245CCC9CDDA516A74E91CACD5A09A46B65A875DB8B4B6328A5769BF04397CD67C6EC17AAC340BBFD29A8AE0A53ECA251E2DBE8B44018989AEB79A6495F</Value>
    </Parameter>
    <Parameter Name="DbConnectionString">
      <Value>Data Source=iris;Initial Catalog=Nyx;Integrated Security=True</Value>
    </Parameter>
    <Parameter Name="ReportFolder">
      <Value>Nyx/Transactions</Value>
    </Parameter>
    <Parameter Name="ReportDataSourceFolder">
      <Value>Nyx/Transactions/DataSource</Value>
    </Parameter>
    <Parameter Name="ReportDataSetFolder">
      <Value>Nyx/Transactions/DataSet</Value>
    </Parameter>
    <Parameter Name="ReportConnectionString">
      <Value>Data Source=IRIS;Initial Catalog=Nyx;Integrated Security=True</Value>
    </Parameter>
    <Parameter Name="SchedulerTaskName">
      <Value>Nyx_Transactions</Value>
    </Parameter>
    <Parameter Name="SchedulerPath">
      <Value>c:\Scheduler\Nyx_Transactions</Value>
    </Parameter>
    <Parameter Name="SchedulerConnectionString">
      <Value>Data Source=iris;Initial Catalog=Nyx;Integrated Security=True</Value>
    </Parameter>
  </Parameters>
  <Parent>base.xml</Parent>
</Configuration>