<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cadmus.Foundation" version="1.0.9" targetFramework="net461" />
  <package id="Cadmus.ParameterEditor" version="1.0.3" targetFramework="net461" />
  <package id="Cadmus.Parametrizer" version="1.0.2" targetFramework="net461" />
  <package id="Cadmus.Protector" version="1.0.2" targetFramework="net461" />
  <package id="Cadmus.Scripts" version="1.0.1" targetFramework="net461" />
  <package id="Cadmus.VisualFoundation" version="1.0.2" targetFramework="net461" />
  <package id="Caliburn.Micro" version="3.0.0" targetFramework="net461" />
  <package id="Caliburn.Micro.Core" version="3.0.0" targetFramework="net461" />
</packages>